/* Definição de variáveis de cores personalizadas */
:root {
    --red: #a31b1b; /* Vermelho */
    --green: #079807; /* Verde */

    --tarefa-id-color: #7a8ea1; /* Cor do ID da Tarefa */
    --tarefa-text-color: #a9b6c3; /* Cor do Texto da Tarefa */
    --categoria-text-color: #74839b; /* Cor do Texto da Categoria */
    --tarefa-background: #06334b; /* Fundo da Tarefa */
    --lista-tarefas-background: rgba(169, 182, 195, 0.87); /* Fundo de onde estão todas as Tarefas */
    --titulo-color: #06334b; /* Cor do Título */
  
  }
  @font-face {
    font-family: "Century Gothic";
    src: url("caminho-para-a-sua-fonte.ttf") format("truetype"); /* Substitua 'caminho-para-a-sua-fonte.ttf' com o caminho correto para o arquivo de fonte. */
    font-weight: normal;
    font-style: normal;
  }
  
  /* Estilo do corpo da página */
  body {
    background-image: url("../img/img2.jpg"); /* Imagem de fundo */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilo do contêiner principal da aplicação */
  .app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  /* Estilo do cabeçalho da aplicação */
  .h1 {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 40px;
    letter-spacing: 3px;
    white-space: inherit;
    background-color: var(--lista-tarefas-background);
    padding: 10px;
    border-radius: 50%;
    color: black;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  }
  
  /* Estilo da seção superior (top) */
  .top {
    width: 50%;
  }
  
  /* Estilo da seção inferior (bottom) */
  .bottom {
    font-size: 16px;
    background-color: var(--lista-tarefas-background);
    color: var(--color5); /* Texto Preto */
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 0px 20px 30px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  /* Estilo da lista de tarefas (TODOs) */
  .todo-list {
    min-width: 400px;
    
    border-radius: 10px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Layout de 3 colunas */
    grid-gap: 10px; /* Espaçamento entre colunas */
  }
  
  /* Estilo dos cards de tarefas (TODOs) */
  .todo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    background-color: var(--tarefa-background);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
    break-inside: avoid;
  }
  
  /* Estilize o texto das tarefas */
  .todo p.tarefa {
    font-size: 18px;
    font-weight: bold;
    color: var(--tarefa-text-color);
  }
  
  /* Estilize o texto das categorias */
  .todo p.categoria {
    font-size: 16px;
    color: var(--categoria-text-color);
  }
  
  /* Estilo do número associado à tarefa */
  .todo p.numero {
    background-color: var(--tarefa-id-color); 
    width: 20px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--color5); /* Borda Preto */
    margin: 0;
  }
  
  /* Estilo das opções (botões) em cada card de tarefa */
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
  }
  /* Estilo do botão "Delete" */
  .delete {
    background: var(--red);
    border: 1px solid var(--red);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 16px;
    min-height: 30px;
    outline: 0;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  /* Efeitos do botão "Delete" ao passar o mouse ou clicar */
  .delete:hover,
  .delete:active {
    background-color: initial;
    background-position: 0 0;
    color: var(--red);
  }
  /* Efeito de opacidade do botão "Delete" quando clicado */
  .delete:active {
    opacity: 0.5;
  }
  
  .complete {
    width: 30px;
    height: 30px;
    color: var(--green);
    border-radius: 10px;
  }
  
  .form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1em auto;
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: var(--color6);
    width: 1em;
    height: 0.9em;
    border: 0.05em solid var(--color6);
    border-radius: 0.15em;
    display: grid;
    place-content: center;
  }
  
  /* Estilo do controle do formulário que envolve o checkbox */
  .form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1em auto;
  }
  
  /* Estilo do checkbox personalizado */
  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: var(--color6); /* Texto Cinza Escuro */
    width: 1em;
    height: 0.9em;
    border: 0.05em solid var(--color6); /* Borda Cinza Escuro */
    border-radius: 0.15em;
    display: grid;
    place-content: center;
}

  /* Estilo do efeito visual do checkbox */
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--green); /* Efeito de sombra ao marcar */
  }
  
  /* Estilo do checkbox marcado */
  input[type="checkbox"]:checked::before {
    transform: scale(1);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
  