@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&family=Oswald:wght@700&family=Roboto:wght@100;400;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* Definição de variáveis de cores personalizadas */
:root {
  --red: #6d1a1a; /* Vermelho */
  --green: #079807; /* Verde */

  --tarefa-id-color: #5c7470; /* Cor do ID da Tarefa */
  --tarefa-text-color: #8da0a4; /* Cor do Texto da Tarefa */
  --categoria-text-color: #5d8a71; /* Cor do Texto da Categoria */
  --tarefa-background: #3a4741; /* Fundo da Tarefa */
  --lista-tarefas-background: #a6b1ab; /* Fundo de onde estão todas as Tarefas */
  --lista-tarefas-background-bk: #b0bfc2; /* Fundo de onde estão todas as Tarefas */
  --titulo-color: #648374; /* Cor do Título */
  --border-color: #717476; /* Cor da Borda */
}

@font-face {
  font-family: "Merriweather Sans";
  src: url("URL_DA_FONT_WOFF2") format("woff2");
}

@font-face {
  font-family: "Oswald";
  src: url("URL_DA_FONT_WOFF2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  src: url("URL_DA_FONT_WOFF2") format("woff2");
}

/* Estilo do corpo da página */
body {
  background-image: url("../img/bg.jpg"); /* Imagem de fundo */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#root {
  width: 100%;
  height: 100%;
}
/* Estilo do contêiner principal da aplicação */
.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr; /* Define as linhas, 1fr para o top e 3fr para o bottom */
  grid-template-columns: 1fr;
  align-items: start;
  justify-items: center;
}

/* Estilo do cabeçalho da aplicação */
.h1 {
  width: 20%;
  text-align: start;
  margin: 0;
  font-size: 90px;
  font-weight: 700;
  color: var(--titulo-color);
  font-family: "Oswald", sans-serif;
}

/* Estilo da seção superior (top) */
.top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100vw;
  height: 20vh;
}

/* Estilo da seção inferior (bottom) */
.bottom {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

/* Estilização da barra de rolagem para navegadores WebKit (Chrome, Safari) */
/* Este bloco de código estiliza a barra de rolagem nas áreas com a classe .bottom */

/* Define a largura da barra de rolagem */
.todo-list::-webkit-scrollbar {
  width: 12px;
}

/* Estiliza a área de fundo da barra de rolagem */
.todo-list::-webkit-scrollbar-track {
  /* Define a cor de fundo da área da barra de rolagem */
  border: 1px solid var(--tarefa-text-color);
  background: var(--tarefa-text-color);
  /* Aplica um raio de borda arredondada para suavizar a aparência */
  border-radius: 10px;
}

/* Estiliza o "polegar" da barra de rolagem, que é a parte móvel */
.todo-list::-webkit-scrollbar-thumb {
  /* Define a cor de fundo do "polegar" usando a cor da categoria da tarefa */
  background: var(--tarefa-id-color);
  /* Aplica um raio de borda arredondada para suavizar a aparência */
  border-radius: 10px;
}

/* Estiliza o "polegar" da barra de rolagem quando o cursor está sobre ele (hover) */
.todo-list::-webkit-scrollbar-thumb:hover {
  /* Define a cor de fundo do "polegar" quando hover usando a cor do texto da tarefa */
  background-color: var(--tarefa-background);
}

.content {
  height: 75%;
}

/* Estilo da lista de tarefas (TODOs) */
.todo-list {
  overflow-y: scroll;
  width: 65%;
  height: 80%;
  padding: 1em;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1em;
  background-color: var(--lista-tarefas-background);
  color: var(
    --categoria-text-color
  ); /* Agora usamos a cor da categoria para o texto da barra de rolagem */
  border-radius: 10px;
  box-shadow: 0px 0px 20px 30px rgba(0, 0, 0, 0.1);
}

/* Estilo dos cards de tarefas (TODOs) */
.todo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 13em;
  min-height: 13em;
  background-color: var(--tarefa-background);
  border: solid 2px var(--lista-tarefas-background);
  padding: 10px;
  border-radius: 10px;
  break-inside: avoid;
}
.green {
  border: 2px solid var(--green);
}

p {
  font-family: "Roboto";
}

/* Estilize o texto das tarefas */
.todo p.tarefa {
  font-size: 18px;
  color: var(--tarefa-text-color);
}

/* Estilize o texto das categorias */
.todo p.categoria {
  font-weight: bold;
  font-size: 14px;
  color: var(--categoria-text-color);
}
.textos {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Estilo do número associado à tarefa */
.todo p.numero {
  background-color: var(--tarefa-id-color);
  color: black;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  margin: 0;
}

/* Estilo das opções (botões) em cada card de tarefa */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2em;
}
/* Estilo do botão "Delete" */
.delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 2em;
  height: 2em;
  background: var(--red);
  border: 1px solid var(--red);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 16px;
  outline: 0;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  opacity: 0.8;
  padding: 10px;
  transform: scale(1);
  transition: transform 0.3s;
  animation: desapperButton 240ms linear;
}
.x-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  background-color: white;
  -webkit-clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}

.remove {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Efeitos do botão "Delete" ao passar o mouse ou clicar */
.delete:hover,
.delete:active {
  animation: apperButton 240ms linear;
}
.delete:active {
  background-color: var(--red);
  color: white;
  opacity: 0.5;
  transform: translateX(1px) translateY(1px);
}
/* Efeito de opacidade do botão "Delete" quando clicado */

.delete:hover .x-icon {
  display: none;
}

.delete:hover .remove {
  display: flex;
}
/* Fim Estilo do botão "Delete" */
.complete {
  width: 30px;
  height: 30px;
  color: var(--green);
  border-radius: 10px;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1em auto;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: var(--color6);
  width: 1em;
  height: 1em;
  border: 0.05em solid var(--color6);
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}

/* Estilo do controle do formulário que envolve o checkbox */
.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1em auto;
}

/* Estilo do checkbox personalizado */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: var(--color6); /* Texto Cinza Escuro */
  width: 1em;
  height: 0.9em;
  border: 0.05em solid var(--color6); /* Borda Cinza Escuro */
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}

/* Estilo do efeito visual do checkbox */
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--green); /* Efeito de sombra ao marcar */
}

/* Estilo do checkbox marcado */
input[type="checkbox"]:checked::before {
  transform: scale(1);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.functions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 0 0 0 0;
}
.iconContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.5em;
  padding: 0.2em;
}

.icon {
  width: 1.8em;
  height: 1.8em;
  display: flex;
  padding: 0.2em;
}
.circle1,
.circle2,
.circle3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  padding: 0.4em;
  background-color: var(--lista-tarefas-background);
  border: 3px transparent var(--border-color);
  border-radius: 25px 30px 25px 50px;
}
.circle1 {
  animation: liquid 8s infinite;
  animation-fill-mode: forwards;
}
.circle2 {
  animation: liquid 12s infinite;
  animation-fill-mode: forwards;
}
.circle3 {
  animation: liquid 10s infinite;
  animation-fill-mode: forwards;
}
/* Estilo da seção "search" */
.search {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: revealFromRight 1s forwards;
}
.inputSearch {
  background-color: var(--lista-tarefas-background);
  width: 30em;
  height: 3em;
  padding: 0 0.5em;
  line-height: normal;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 10px;
  box-shadow: 0 3px 0 rgb(255 255 255 / 50%), 0 3px 0 rgb(0 0 0 / 7%) inset;
  outline: 0;
  color: #111;
  font-size: 20px;
}
.inputSearch:focus {
  border-color: var(--categoria-text-color);
  box-shadow: 0 0 10px 5px var(--categoria-text-color);
}
.filter {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 2em;
  align-items: center;
}
.ordem {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5em;
  flex-direction: column;
}
.ordem button,
.newTodo button {
  background-color: var(--categoria-text-color);
  border-radius: 100px;
  box-shadow: 0 3px 0 rgb(255 255 255 / 50%), 0 3px 0 rgb(0 0 0 / 7%) inset;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.ordem button:hover,
.newTodo button:hover {
  box-shadow: 0 3px 0 rgb(255 255 255 / 50%), 0 3px 0 rgb(0 0 0 / 7%) inset;
  transform: scale(1.05);
}
.select-box {
  cursor: pointer;
  position: relative;
  width: 30em;
  border-radius: 10px;
}

.select,
.label {
  border-radius: 10px;
  display: block;
  font: 400 17px/2em "Source Sans Pro", sans-serif;
}

.select {
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border: 0 none;
  transition: opacity 0.3s ease-in-out;
}
.select-box1 {
  background: #ececec;
}

.label {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.label::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
}

.open .label::after {
  content: "▲";
}

.newTodo {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 0 0 3em;
}
.newTodo form {
  height: 100%;
}
.topNewtd {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 50%;
  padding: 0 0 1em 0;
}
.bottomNewtd {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 50%;
  padding: 0.5em 0 0 0;
}
.bottomNewtd .select-box {
  width: 70%;
}
/* Classe para animação de entrada da direita */
.slideIn {
  animation: slideIn 0.5s forwards; /* Aplica a animação slideIn */
}
.slideIn2 {
  animation: slideIn2 0.5s forwards; /* Aplica a animação slideIn */
}
/* Classe para animação de saída para a direita */
.slideOut {
  animation: slideOut 0.5s forwards; /* Aplica a animação slideOut */
}
.slideOut2 {
  animation: slideOut2 0.5s forwards; /* Aplica a animação slideOut */
}

@keyframes apperButton {
  0% {
    opacity: 0;
    width: 2em;
  }
  30% {
    opacity: 0.3;
    width: 3em;
  }
  60% {
    opacity: 0.6;
    width: 4em;
  }
  100% {
    opacity: 1;
    width: 5em;
  }
}

@keyframes desapperButton {
  0% {
    opacity: 0;
    width: 5em;
  }
  30% {
    opacity: 0.3;
    width: 4em;
  }
  50% {
    opacity: 0.5;
    width: 3em;
  }
  80% {
    opacity: 0.8;
    width: 1.8em;
  }
  100% {
    opacity: 1;
    width: 2em;
  }
}

@keyframes liquid {
  0% {
    border-radius: 25px 50px 25px 50px;
    scale: 1;
  }
  25% {
    border-radius: 50px 25px 50px 35px;
    scale: 1.1;
  }
  50% {
    border-radius: 25px 50px 35px 50px;
    scale: 1;
  }
  75% {
    border-radius: 50px 45px 50px 25px;
    scale: 0.9;
  }
  100% {
    border-radius: 25px 50px 25px 50px;
    scale: 1;
  }
}
/* Animação de entrada da direita */
@keyframes slideIn {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 70%;
    opacity: 1;
  }
}

/* Animação de saída para a direita */
@keyframes slideOut {
  0% {
    width: 70%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes slideIn2 {
  0% {
    width: 0;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    width: 70%;
    opacity: 1;
  }
}

@keyframes slideOut2 {
  0% {
    width: 70%;
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}
